In [2]:
import pandas as pd
pd.set_option('display.max_columns',6)
print("original data:\n")
df=pd.read_excel("/Users/student/Downloads/employees-details-_1_.xlsx")
print(df)

original data:

    Emp ID Name Prefix First Name  ...       Mother's Name  \
0   677509        Drs.       Lois  ...        Helen Walker
1   940761         Ms.     Brenda  ...       Judy Robinson
2   428945         Dr.        Joe  ...  Stephanie Robinson
3   408351        Drs.      Diane  ...      Michelle Evans
4   193819         Mr.   Benjamin  ...   Elizabeth Russell
..     ...         ...        ...  ...                 ...
95  639892         Mr.       Jose  ...           Anna Hill
96  704709         Dr.     Harold  ...       Pamela Nelson
97  461593         Ms.     Nicole  ...          Julia Ward
98  392491        Mrs.    Theresa  ...   Jacqueline Murphy
99  495141        Drs.      Tammy  ...        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

In [3]:
f=df['First Name'].str.strip()
f.to_excel("/Users/student/Downloads/data 1.xlsx")
print("\n Replace Value:")
k=df.fillna(method='pad')
print(k)
print("\n Updated list\n")
k.to_excel("/Users/student/Downloads/data 1.xlsx")

 Replace Value:
    Emp ID Name Prefix First Name  ...       Mother's Name  \
0   677509        Drs.       Lois  ...        Helen Walker
1   940761         Ms.     Brenda  ...       Judy Robinson
2   428945         Dr.        Joe  ...  Stephanie Robinson
3   408351        Drs.      Diane  ...      Michelle Evans
4   193819         Mr.   Benjamin  ...   Elizabeth Russell
..     ...         ...        ...  ...                 ...
95  639892         Mr.       Jose  ...           Anna Hill
96  704709         Dr.     Harold  ...       Pamela Nelson
97  461593         Ms.     Nicole  ...          Julia Ward
98  392491        Mrs.    Theresa  ...   Jacqueline Murphy
99  495141        Drs.      Tammy  ...        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

 Updated list

In [4]:
print("\n Drop one particular column and its values:\n")
k.drop(["Gender"],axis=1,inplace=True)
print(k)
print("\n updated list\n")
k.to_excel("/Users/student/Downloads/Performance.xlsx")

 Drop one particular column and its values:

    Emp ID Name Prefix First Name  ...       Mother's Name  \
0   677509        Drs.       Lois  ...        Helen Walker
1   940761         Ms.     Brenda  ...       Judy Robinson
2   428945         Dr.        Joe  ...  Stephanie Robinson
3   408351        Drs.      Diane  ...      Michelle Evans
4   193819         Mr.   Benjamin  ...   Elizabeth Russell
..     ...         ...        ...  ...                 ...
95  639892         Mr.       Jose  ...           Anna Hill
96  704709         Dr.     Harold  ...       Pamela Nelson
97  461593         Ms.     Nicole  ...          Julia Ward
98  392491        Mrs.    Theresa  ...   Jacqueline Murphy
99  495141        Drs.      Tammy  ...        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 10 columns]

 updated list